//Default eslint setup
// {
//     "extends": ["prettier"],
//     "plugins": ["prettier"],
//     "rules": {
//       "prettier/prettier": ["error"]
//     },
//   }
  {
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": ["error"]
    }
  }